name: CI Orchestrator

on:
  push:
    branches: ["CI/CD-Test"]
  workflow_dispatch:

jobs:
  dependency-check:
    name: OWASP Dependency Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run OWASP Dependency Check
        uses: dependency-check/Dependency-Check_Action@main
        with:
          project: "fake-banking-site"
          path: "."
          format: "HTML"
          out: "dependency-check-report"

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: dependency-check-report

  deployment:
    name: Deploy to EC2
    runs-on: ubuntu-latest
    needs: dependency-check
    if: ${{ success() }}

    steps:
      - name: Start ssh-agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.EC2_SSH_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER_HOST }} "echo 'hello ER time'"
