name: Docker Build (no push)

on:
  push:
    branches: [ "test-ci" ]
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker build (no push)
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: myapp:test-ci-${{ github.sha }}
          load: false
